<% include ../partials/header %>

    <div class="container">
        <div class="row">

            <!--Product information-->
            <div class="col-md-3">
                <p class="lead">MarketPlace</p>
                <div class="list-group">
                    <li class="list-group-item"><%= product.title || "Not Available" %></li>
                    <li class="list-group-item">Price {new & old}</li>
                    <li class="list-group-item">Tags</li>
                    <li class="list-group-item">User info</li>
                    <li class="list-group-item">
                        <!--<div class="thumbnail">-->
                        <!--    <img src="<%= product.author.avatar_url %>">-->
                        <!--</div>-->
                        <%= product.author.email || "Not Available" %>
                    </li>
                    <li class="list-group-item"><%= product.date || "Not Available" %></li>
                </div>
            </div>

            <!--Product images-->
            <div class="col-md-7">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= product.image %>">
                    <div class="caption-full">
                        <h4 class="pull-right">Price will be here!</h4>
                        <p><%= product.description %></p>
                        <!--<h4><%= product.title %></h4>-->
                        
                        <% if (currentUser && product.author.id.equals(currentUser._id)) {%>
                            <a class="btn btn-warning" href="/items/<%= product._id %>/edit">Edit</a>
                            <form id="delete-form" action="/items/<%= product._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% }%>
                    </div>
                </div>

                <!--Comments-->
                <div class="well">
                    <div class="text-right">
                        <p>
                            <a class="btn btn-success" href="/items/<%= product._id %>/comments/new">Comment</a>
                        </p>
                    </div>
                    <% product.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= comment.date %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <a href="/items/<%= product._id %>/comments/<%= comment._id %>/edit"
                               class="btn btn-xs btn-warning" >
                                edit
                            </a>
                        </div>
                    </div>
                <% }) %>
                </div>
            </div>

            <!--Sidebar images-->
            <div class="col-md-2">
                <div class="img-preview">
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%= product.image %>">
                    </div>
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%= product.image %>">
                    </div>
                </div>
             </div>

        </div>

    </div>


<% include ../partials/footer %>